@use 'base/mixins' as m;
@use 'base/variables' as v;

.boton {
    user-select: none;
    font-size: 5rem;
    text-align: center;
    background-color: v.$gris;
    border-radius: 20%;

    
}
.boton-nopresionado {
    box-shadow: 0px 1px 0px hsl(180, 100%, 40%), // sombreado en hsla
        0px 2px 0px hsl(180, 100%, 38%),
        0px 3px 0px hsl(180, 100%, 37%),
        0px 4px 0px hsl(180, 100%, 36%),
        0px 5px 0px hsl(180, 100%, 35%),
        0px 6px 0px hsl(180, 100%, 34%),
        0px 7px 0px hsl(180, 100%, 33%),
        0px 8px 0px hsl(180, 100%, 32%),
        0px 9px 0px hsl(180, 100%, 31%),
        0px 10px 0px hsl(180, 100%, 20%),
        0px 11px 10px #000;
}

.boton-presionado {
    margin-top: 3px;
    margin-bottom: -3px;

    box-shadow: 0px 1px 0px hsl(180, 100%, 40%),
        0px 2px 0px hsl(180, 100%, 37%),
        0px 3px 0px hsl(180, 100%, 35%),
        0px 4px 0px hsl(180, 100%, 33%),
        0px 5px 0px hsl(180, 100%, 31%),
        0px 6px 0px hsl(180, 100%, 20%),
        0px 7px 10px #000;
}